{erl_opts, [
    warn_shadow_vars,
    warn_obsolete_guard,
    {parse_transform, lager_transform}
]}.

{relx, [
    {release, {'hotline',
    "1.0"
    }, [
        websocket, hotline
    ]},
    % {vm_args, "./vm.args"},
    % {sys_config, "./sys.config"},
    {extended_start_script, true},
    {include_erts, false}
]}.

{deps, [
    {cowboy,        {git, "https://github.com/ninenines/cowboy", {tag, "1.0.4"}}},
    {jiffy,         {git, "https://github.com/davisp/jiffy.git", {ref, "0.14.11"}}},
    {lager,         {git, "https://github.com/erlang-lager/lager.git", {tag, "3.5.1"}}}
]}.

{profiles, [
    {dev, [
        {erl_opts, [debug_info, {d, 'DEV'}]},
        {relx, [
            {release, {'hotline', "dev"}, [
                websocket, hotline
            ]},
            {dev_mode, true}
        ]}
    ]},
    {prod, [
        {erl_opts, [debug_info]},
        {relx, [
            {include_erts, true}
        ]}
    ]}
]}.

{eunit_opts,  [
    no_tty,
    {report, {eunit_progress, [colored, profile]}},
    {report, {eunit_surefire,[{dir,"_build/test/eunit"}]}}
]}.

{dialyzer, [
    {plt_apps, top_level_deps},
    {warnings, [
        unknown
    ]},
    {base_plt_apps, [
        asn1,
        compiler,
        crypto,
        edoc,
        erts,
        eunit,
        inets,
        kernel,
        mnesia,
        public_key,
        runtime_tools,
        sasl,
        ssl,
        ssl,
        stdlib,
        syntax_tools,
        xmerl
    ]}
]}.
