body {
    margin: 0;
    padding: 20px;
    font: normal 13px "Consolas", monospace;
}

/* scrollbars */

::-webkit-scrollbar {
    width: 14px;
    height: 10px;
}
::-webkit-scrollbar-track-piece {
    background-color: #eee;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    border: 3px solid #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #527dff;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    border: 3px solid #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:window-inactive {
    background-color: #bbb;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 0.5em 0;
    padding: 0;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.0em; }
h6 { font-size: 0.8em; }

#sidebar h1 { font-size: 1.3em; }
#sidebar h2 { font-size: 1.2em; }
#sidebar h3 { font-size: 1.1em; }
#sidebar h4 { font-size: 1.0em; }
#sidebar h5 { font-size: 1.0em; }
#sidebar h6 { font-size: 1.0em; }

#container {
    margin: 0 auto;
    width: 800px;
    height: 380px;
}

/* Head */

#head {
    margin: 0 0 10px 0;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
}

    #newsLink,
    #chatLink {
        display: inline-block;
        padding: 4px 7px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        text-decoration: none;
        color: #222;
    }
    #newsLink:hover,
    #chatLink:hover {
        background-color: #f5f5f5;
    }
    #newsLink.active,
    #chatLink.active {
        background-color: #eee;
        border-bottom: 0;
    }
    
    #title {
        display: inline-block;
        margin: 0;
        padding: 0 5px;
        font-size: 16px;
        font-weight: bold;
    }
    
    #hostname {
        float: right;
    }

/* Sidebar */

#sidebar {
    float: right;
    width: 232px;
    height: 380px;
    margin-left: 10px;
}
    
    /* Members */
    
    #members {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #members li {
        overflow: hidden;
        height: 14px;
        margin: 0;
        padding: 2px 2px 2px 35px;
        list-style: none;
        font: normal 11px/14px "Lucida Grande", "Verdana", sans-serif;
        background-repeat: no-repeat;
    }
    #members .status_0 {
        color: #000;
    }
    #members .status_1 {
        color: #999;
    }
    #members .status_2 {
        color: #D54533;
    }
    #members .status_3 {
        color: #FC8C7C;
    }

/* Scroll */

#scroll,
#news {
    height: 349px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}

#scroll {
    color: #aaa;
}
#scroll .message {
    margin: 1px 0;
}
#scroll .type_chat_msg {
    color: #222;
}
#scroll .type_server_msg {
    color: #3550BC;
}
#scroll .timestamp {
    float: right;
    font-size: 12px;
    color: #bbb;
    margin-left: 5px;
}

#scroll .g {
    position: absolute;
    top: -1000px;
    left: -1000px;
}

/* News */

#news {
    display: none;
    padding: 10px;
    height: 360px;
    border-radius: 5px;
    background-color: #eee;
}

#news::-webkit-scrollbar-track-piece {
    border-color: #eee;
    background-color: #bbb;
}
#news::-webkit-scrollbar-thumb {
    border-color: #eee;
}

/* Input */

#input {
    margin-top: 5px;
    height: 24px;
}
#input textarea {
    width: 548px;
    height: 16px;
    padding: 4px;
    border: 1px solid #999;
    border-radius: 3px;
    font: normal 13px/16px "Consolas", monospace;
    resize: none;
}
